@import '../../sass/variables';

.form {
    h1 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 2.3rem;
    }

    label {
        font-size: 1rem;
        font-weight: 500;
        color: $dark;
    }

    input {
        font-size: 0.9rem;
    }


    div:global(.form-group) {
        margin-bottom: 1.6rem;
    }
}