@import '../../sass/variables';

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1.2rem;
    border-width: 2px;
    border-radius: 2px;
    border-color: $grey-2;
    border-style: dashed;
    background-color: $off-white-3;
    color: $secondary;
    outline: none;
    cursor: pointer;
    transition: border .24s ease-in-out;

    p {
        font-family: inherit;
        text-transform: capitalize;
        margin: 0;
    }
}

.isDragActive {
    border-color: $dark;
}

.isDragAccept {
    border-color: $success;
}

.isDragReject {
    border-color: $danger;
}