@import '../../sass/variables';

.container {
    min-height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    div {
        background-color: $dark;
        height: 100%;
        width: 6px;
        margin: 0 3px 0 0;
        display: inline-block;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
        animation-delay: -1.1s;
    }

    .rect3 {
        animation-delay: -1.0s;
    }

    .rect4 {
        animation-delay: -0.9s;
    }

    .rect5 {
        animation-delay: -0.8s;
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
    }
}