@import '../../sass/variables';

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 3px 0;
    position: relative;

    .icon {
        font-size: 1.2rem;
        color: rgba($white, 0.5);
        margin-bottom: 3px;
        margin-right: 1rem;
    }

    button {
        border: none;
        background: none;
        font-size: 1.4rem;
        transition: all 0.3s ease-in;
        color: rgba($white, 0.5);

        &:active,
        &:focus {
            outline: none;
        }

        &:hover {
            color: $white;
        }
    }
}

:global(.react-autosuggest) {
    &__container {
        flex: 1;
    }

    &__input {
        width: 100%;
        display: block;
        background: none;
        border: none;
        color: $white;
        font-family: inherit;
        font-weight: 300;

        &::-webkit-input-placeholder {
            color: rgba($white, 0.5);
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__input--focused {
        outline: none;
    }

    &__suggestions-container {
        display: none;
    }

    &__suggestions-container--open {
        position: absolute;
        top: 150%;
        left: 0;
        display: block;
        width: 100%;
        background-color: lighten($black, 8);
        font-family: inherit;
        border-radius: 4px;
        border: 1px solid rgba($white, 0.04);
        max-height: 60vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: $secondary;
            outline: 1px solid $secondary;
        }
    }

    &__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__suggestion {
        padding: 1rem 1.25rem;
        border-bottom: 1px solid rgba($white, 0.04);
        border-radius: 4px;


        a,
        a:link,
        a:visited {
            text-decoration: none;
            color: $off-white-3;
        }
    }

    &__suggestion--highlighted {
        background-color: lighten($black, 5);
    }
}