@import '../../sass/variables';

.img {
    :global(.card-header) {
        font-size: 1.5rem;
        padding: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        color: $primary;
        background: none;
        border: none;
        font-size: 0.9rem;
        border: 1px dotted transparent;
        border-radius: 2px;

        svg {
            font-size: 0.6rem;
        }

        &:active,
        &:focus {
            outline: none;
            border: 1px dotted lighten($primary, 25);
        }

        &:hover {
            opacity: 0.8;
        }
    }
}