@import '../../sass/variables';

.sidebar {
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba($black, 0.12);

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        padding: 2.5rem 0;
        border-bottom: 1px solid $off-white-2;


        .imgBox {
            width: 100px;
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                border-radius: 50%;
            }
        }

        .name {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: capitalize;
            margin-top: 1rem;
        }
    }

    .nav {
        a {

            &:link,
            &:visited {
                display: block;
                color: $dark;
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
                padding: 1rem 1.5rem;
                text-decoration: none;
                transition: all 0.2s ease-in;

                &:not(:last-child) {
                    border-bottom: 1px solid $off-white-2;
                }

                &:hover {
                    background-color: $off-white-1;
                }

                &:global(.active) {
                    background-color: $primary;
                    color: $white;
                    font-weight: 300;

                    &:hover {
                        background-color: darken($primary, 5);
                    }
                }
            }
        }
    }
}