@import '../../sass/variables';

.body {
    border-radius: 1rem;
    max-width: 300px;
    height: auto;
    font-family: inherit;

    .textContent {
        padding: 1.5rem 1rem;

        h4,
        p {
            width: 100%;
            text-align: center;
            line-height: normal;
            margin: 0;
            padding: 0 1rem;
            font-family: inherit;
        }

        h4 {
            font-size: 1.4rem;
            font-weight: 700;
        }

        p {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    .btnContainer {
        width: 100%;
        display: flex;


        button {
            flex: 1;
            border-radius: 0 0 1rem 0;
            color: $primary;
            background: inherit;
            font-family: inherit;
            border: 0;
            font-size: 1rem;
            border-top: 1px solid $off-white-2;
            cursor: pointer;
            font-weight: 500;
            outline: none;
            min-height: 3rem;
            transition: background-color 0.2s ease-in;

            &:not(:last-child) {
                border-right: 1px solid $off-white-2;
                border-radius: 0;

                &:hover {
                    background-color: $success;
                    color: $white;
                }
            }

            &:hover {
                background-color: $danger;
                color: $white;
            }
        }
    }
}