html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

::selection {
    background: $primary;
    color: $white;
}

body {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
        outline: 1px solid $secondary;
    }
}

textarea {
    &::-webkit-scrollbar {
        width: 0;
    }
}