@import './mixins';

.bg-custom {
    background-color: $black;
}

.card {
    color: $dark;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 15px rgba($black, 0.12);

    &-header {
        background-color: #FAF9F9;
        border-bottom: 1px solid #E2E3EA;

        @include respond(md) {
            padding: 1.25rem 3rem;
        }
    }

    &-body {
        // padding: 3rem;

        @include respond(md) {
            padding: 3rem;
        }
    }
}

.form-control {
    &:focus {
        box-shadow: none;
        border-color: lighten($primary, 25);
    }
}