// Override boostrap colors
$primary: #6c7ae0;
$info: #008cdd;
$secondary: #777777;
$dark: #333333;
$light: #e5e5e5;
$success: #208637;
$warning: #f6be45;
$danger: #c82333;

// Override boostrap font
$font-family-base: 'Poppins',
sans-serif;

// Custom variables
$white: #ffffff;
$black: #000000;

$off-white-1: #f4f2f2;
$off-white-2: #e6e6e6;
$off-white-3: #f5f5f5;
$grey-1: #b2b2b2;
$grey-2: #cccccc;

// Breakpoint variable
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1800px;