@import '../../sass/variables';
@import '../../sass/mixins';

.steps {
    font-size: 1rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include respond(sm) {
            flex-direction: initial;
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        @include respond(sm) {
            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:not(:first-child) {
                margin-left: auto;
            }
        }
    }


    .link:link,
    .link:visited {
        color: $dark;
        text-decoration: none;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        span {
            display: block;
            background-color: $grey-2;
            color: $white;
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 10px;
            font-size: 1.2rem;
        }
    }

    .active:link,
    .active:visited {
        color: $primary;

        span {
            background-color: $primary;
        }
    }

    .disabled:link,
    .disabled:visited {
        pointer-events: none;

        span {
            background-color: $grey-2;
        }
    }
}