@import '../../sass/variables';

.errorBoundary {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark;

    h1 {
        font-size: 4rem;
        font-weight: 300;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.3rem;
        font-family: inherit;
        font-weight: 500;
    }
}