@import '../../sass/variables';

.footer {
    background-color: $black;
    color: $light;
    padding: 2.6rem 0;
    text-align: center;
    font-size: 0.8rem;

    div {
        line-height: 1.8;
    }

    a {
        margin-left: 6px;
        font-weight: 600;
        transition: all .3s ease-in;

        &:hover {
            text-decoration: none;

        }
    }
}