@import '../../sass/variables';

.form {
    margin-top: 3.5rem;
    padding: 0 1rem;
    color: $dark;


    h2 {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }


    label {
        font-size: 0.9rem;

    }

    button {
        padding: 0.8rem 2rem;
    }

    .rating {
        h3 {
            font-size: 0.9rem;
            font-weight: 400;
        }

        label {
            font-size: 1.5rem;
        }
    }

}