@import '../../sass/variables';
@import '../../sass/mixins';

.list {
    color: $dark;

    :global(.list-group-item) {
        padding: 1.75rem 0.25rem;

        @include respond(sm) {
            padding: 1.75rem 1.25rem;
        }
    }

    h2 {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    .details,
    .payment {
        padding-left: 0.5rem;

        @include respond(sm) {
            padding-left: 1rem;
        }

        span {
            display: block;
            font-size: 0.9rem;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    .payment {
        svg {
            font-size: 1.4rem;
            margin-right: 10px;
        }

        span {
            display: flex;
            align-items: center;
        }
    }


    ul {
        padding-left: 0.5rem;
        list-style-type: none;

        @include respond(sm) {
            padding-left: 1rem;
        }
    }

    li {
        display: flex;
        flex-direction: column;

        width: 100%;

        @include respond(sm) {
            flex-direction: initial;
            justify-content: space-between;
            align-items: center;
        }

        @include respond(lg) {
            width: 80%;
        }


        &:not(:last-child) {
            margin-bottom: 10px;
        }

        span {
            text-transform: capitalize;
        }
    }
}