@import '../../sass/variables';

.list {
    :global(.card-header) {
        font-size: 1.5rem;
        padding: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name {
        font-size: 1.2rem;
        text-transform: capitalize;
    }

    button {
        font-size: 0.6rem;
    }

    .load {
        color: $primary;
        background: none;
        border: none;
        font-size: 0.8rem;
        border: 1px dotted transparent;
        border-radius: 2px;
        padding: 0;

        span {
            display: inline-block;
            margin-right: 0.3rem;
        }

        svg {
            font-size: 0.6rem;
        }

        &:active,
        &:focus {
            outline: none;
            border: 1px dotted lighten($primary, 25);
        }

        &:hover {
            opacity: 0.8;
        }
    }
}