@import '../../sass/variables';

.navigation {
    border-bottom: 1px solid rgba($white, 0.05);
    transition: padding 0.4s ease-in-out;
}

.stickyNav {
    padding-top: 2.25rem !important;
    padding-bottom: 2.25rem !important;
    background: transparent !important;
}

.fixedNav {
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
    box-shadow: 0px 5px 10px rgba($black, 0.25);
}

.scrolled {
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
    background: $black !important;
    box-shadow: 0px 5px 10px rgba($black, 0.25);
}

.navLink {
    text-transform: uppercase;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}