@import '../../sass/variables';


.navigation {
    border-bottom: 1px solid rgba($white, 0.05);
    transition: background 0.4s ease-in-out;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.stickyNav {
    background: transparent !important;
}

.fixedNav {
    box-shadow: 0px 5px 10px rgba($black, 0.25);
}

.scrolled {
    background: $black !important;
    box-shadow: 0px 5px 10px rgba($black, 0.25);
}

.navLink {
    font-size: 0.9rem;
    transition: color 0.3s ease-in;

    &:not(:last-child) {
        margin-right: 0.5rem;
    }
}