@import '../../sass/variables';

.details {
    color: $dark;
    width: 100%;
    border-radius: 2px;

    h1 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 2.3rem;

        // font-size: 1.4rem;
        // font-weight: 700;
        // margin-bottom: 1.4rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $light;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        &:last-child {
            padding: 1rem 0;
            margin-bottom: 1.4rem;
            border-top: 1px solid $light;
            border-bottom: 1px solid $light;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 1.4rem 0;
        font-size: 1rem;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        span {
            &:last-child {
                font-weight: 500;
            }
        }
    }

    button {
        // margin-top: 1rem;
        // border-radius: 2px;
    }
}